.logo {
  width: 95px;
}
.header_container {
  background-color: rgb(61, 74, 223);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3px;
  padding-top: 8px;
}
.icons_container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  color: white;
}
.login_btn {
  border-radius: 5px;
  border: none;
  color: rgb(61, 74, 223);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header_icons {
  font-size: 25px;
}
.favorite {
  color: rgb(255, 255, 255);
}
.header_input {
  flex: 1;
  border: none;
  height: 25px;
  font-size: 16px;
  color: rgb(71, 69, 69);
  padding-left: 5px;
}

.input_container {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
}
.header_input_container {
  background: linear-gradient(to bottom, rgb(61, 74, 223), #ffffff);
  padding: 10px;
}
.IoSearch {
  font-size: 23px;
  padding-left: 5px;
}
.header_bg_container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
.tablet_nav_btns {
  display: none;
}
@media (min-width: 373px) {
  .logo {
    width: 100px;
  }
  .header_icons {
    font-size: 26px;
  }
  .login_btn {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 425px) {
  .logo {
    width: 110px;
  }
  .header_icons {
    font-size: 28px;
  }
  .login_btn {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .tablet_nav_btns {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0px;
    border-color: white;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-style: solid;
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .header_icons {
    display: none;
  }
  .tablet_nav_btns p {
    margin: 0px;
  }
  .tablet_header_icons {
    font-size: 17px;
    padding-right: 3px;
  }
  .header_container {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 3px;
    padding-top: 8px;
  }
  .icons_container {
    flex: 1;
  }
  .login_btn {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .header_input_container {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 180px;
  }
  .login_btn:hover {
    transform: scale(1.15);
  }
}
